
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

h1 {
  width: 606px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-size: 80px;
  font-weight: 1200;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #ffffff;
}

h2 {
  width: 993px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

h3 {
  width: 640px;
  height: 33px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

h4 {
  width: 640px;
  height: 33px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}

p{
  width: 640px;
  height: 345px;
  font-family:'Poppins', sans-serif ;
  font-size: 16px;
  text-align: justify;
}

.header {
background-color: blue;
background: repeat-x;
}

.premierebox {
}

.secondebox {
  text-align: center;
  width: 484px;
  height: 53px;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;}

.button {
  width: 200px;
  height: 70px;
  border: solid ;
  border-radius: 5px;
  border-bottom-color: #ffffff;}

.picturea {
  float: right;
}

a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/