
/**
* -------------
* Global Styles
* -------------
*/

body {}

.header {
  background-image: url("./../img/header-background.png");
  background-repeat: repeat-x;
  padding-bottom: 56px;
  }


.title {
    margin: 0;}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 88px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}

h2 {
   font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color:#ffffff;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: var(--Ultravision-Black);
}

h4 {
    font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h5{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-align : center;
}

h6{
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: #ffffff;
}


li{ font-family:'Poppins', sans-serif;
  font-size: 16px;
}

p{
  font-family:'Poppins', sans-serif ;
  font-size: 16px;
  text-align: justify;
}

.paragraphe{
  display: flex;
  justify-content: space-between;
}

.box {
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 48px;
padding-right: 32px;}

.box-image{
  flex-basis: 0;
  flex-grow: 1;
background-color: #fcce00 ;
padding-left: 48px;
padding-right: 32px;
margin-bottom: 97px;
}

.box-image img{
mix-blend-mode: darken;}

.paragraphe--secondary .box-image {
  background-color: #ff6b00;
}


.button1 {
  font-family:'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color : #fcce00  ;
  border : solid 4px #fcce00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float:right;
}

.button2 {
  font-family:'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color : #ff6b00 ;
  border : solid 4px  #ff6b00;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
  float:right;
}

.cadrerouge{
  display: flex;
  justify-content: space-between;
  background-color: #e02020 
}

.cadreviolet{
  display: flex;
  justify-content: space-between;
 background-color:  #b620e0 ;
}
.cadremauve{
  display: flex;
  justify-content: space-between;
  background-color: #6236ff ;}

.box{ flex-basis: 0;
  flex-grow: 1;
  padding-left: 48px;
padding-right: 32px;}

.box-image{ 
  margin-top:18px ;
margin-bottom: 46px;}

.box-img img{
  mix-blend-mode: darken;
}

.intro{
  font-size: 24px;
  color: #ffffff;}


.button3 {
  font-family:'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color : #ffffff ;
  border : solid 4px  #ffffff ;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 36px 10px 36px;
}

.boxgrise {
  background-color: #231f20 ;
margin:0px;}

.Titre3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  padding-top: 64px;
  margin: 0px;
}

.ligne1{
display: flex;
justify-content: space-between;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 35px;
margin-right: 35px;}
.ligne2{
  display: flex;
justify-content: space-between;
margin-top: 32px;
margin-bottom: 32px;
margin-left: 35px;
margin-right: 35px;}

.ligne3{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 35px;
  margin-right: 35px;}

}
a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/